<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Erringulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Erringulator.Properties.Settings>
            <setting name="Upgraded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="InputPath" serializeAs="String">
                <value>C:\Program Files (x86)\Steam\steamapps\common\ELDEN RING\Game</value>
            </setting>
            <setting name="LoadBackup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RandomizeGrass" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RandomizeRings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RandomizePhantoms" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RandomizeDecals" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RandomizeProjectiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProjectileQuantity" serializeAs="String">
                <value>Medium</value>
            </setting>
            <setting name="RandomizeWetness" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RandomizeWeather" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RandomizePropEffects" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RandomizeWeapons" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RandomizeFaces" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RandomizeArmor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RandomizeSpells" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RandomizeUsableItems" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Seed" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSeed" serializeAs="String">
                <value />
            </setting>
        </Erringulator.Properties.Settings>
    </userSettings>
</configuration>